body {
    background: #111;
}

.code-block {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 25px;
    color: #fff;
}

.code-block .title {
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
}

.code-block .code {
    font-family: 'Inconsolata';
    font-size: 16;
    border: 1px solid #999;
    padding: 5px;
    background: #222;
}

.code-block .runBt {
    position: absolute;
    right: 30px;
    top: 45px;
}
